/* You can add global styles to this file, and also import other style files */
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --telia-purple: rgb(154,25,228);
  --background-grey: rgb(244,244,249);
  --border-grey: rgb(239,239,239);
}

h1 {
  font-size: 20px;
}

.info-container {
  border: 1px solid var(--border-grey);
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  max-width: 450px;
  min-width: 300px;  
  text-decoration: none;
  background-color: var(--background-grey);
}

.info-container a {
  text-decoration: none;
  color: inherit;
}

.info-container a:hover  {
  color: var(--telia-purple);
}