<section>
  <h2>Details for shipment ID: {{shipment?.shipmentId}}</h2>
  <p><strong>Destination country:</strong> {{ shipment?.destinationCountry }}</p>
  <p><strong>Airport:</strong> {{ shipment?.airportCodeString }}</p>
  <p><strong>Flight number:</strong> {{ shipment?.flightNumber }}</p>
  <p><strong>Departing on:</strong> {{ shipment?.flightDate | date: 'medium'}}</p>
  <p><strong>Number of bags:</strong> {{ shipment?.bags?.length }}</p>
  
</section>
<section>
  <h3>Bag details:</h3>
  <!-- <app-bag-results-list *ngFor="let bag of shipment?.bags" [bag]="bag"></app-bag-results-list> -->
</section>

